
# Latex
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bbl
*.bcf
*.blg
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync*.lb
*.pdf

# ctags
tags

# MacOS
.DS_Store

# Vagrant
.vagrant/
