@{
    ViewData["Title"] = "My Certificates";
}

<div class="text-center">
    <h1 class="display-4">My certificates</h1>
    <p>TODO: display the user's public certificates (active, expired, revoked) here</p>
</div>
