[mysqld]
bind-address=0.0.0.0
ssl-ca="/usr/local/share/ca-certificates/iMovies_Root_CA.crt"
ssl-key="/etc/ssl/trusted/private/iMovies_{{ inventory_hostname }}_tls_key.pem"
ssl-cert="/etc/pki/tls/certs/iMovies_{{ inventory_hostname }}_tls.crt"

[mariadb]
disable_unix_socket
