@using System.Security.Claims;

@{
    ViewData["Title"] = "My Account";
}

<h1 class="text-center">@ViewData["Title"]</h1>


<div class="viewport d-flex flex-column mx-auto">
    @{
        // Check both ViewData (something set in *current* request) and TempData (something set in *previous* request within a Post/Redirect/Get workflow)
        object successMessage = null, errorMessage = null;
        if (ViewData.TryGetValue("SuccessMessage", out successMessage) || TempData.TryGetValue("SuccessMessage", out successMessage))
        {
            <div class="alert alert-success alert-dismissible show" role="alert">
                @successMessage
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        if (ViewData.TryGetValue("ErrorMessage", out successMessage) || TempData.TryGetValue("ErrorMessage", out successMessage))
        {
            <div class="alert alert-danger alert-dismissible show" role="alert">
                @errorMessage
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    }

    <table class="table table-striped">
        <tbody>
            <tr>
                <th scope="row">First name</th>
                <td>@Context.User.FindFirst(ClaimTypes.GivenName).Value</td>
            </tr>
            <tr>
                <th scope="row">Last name</th>
                <td>@Context.User.FindFirst(ClaimTypes.Surname).Value</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>@Context.User.FindFirst(ClaimTypes.Email).Value</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <div class="btn-group-vertical">
            <a class="btn btn-primary" asp-controller="Cert" asp-action="Index">Manage certificates</a>
            <a class="btn btn-info" asp-controller="Account" asp-action="Update">Update account information</a>
            <a class="btn btn-secondary" asp-controller="Account" asp-action="UpdatePassword">Change password</a>
        </div>
    </div>
</div>
