Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
ConnectionStrings__IMoviesUserDB="server={{ groups['dbservers'][ groups['webservers'].index(ansible_hostname) ] }};port=3306;database=imovies;user={{ ansible_hostname }};password={{ lookup('vars', 'mysql_' + ansible_hostname + '_password') }};SslCa=/usr/local/share/ca-certificates/iMovies_Root_CA.crt;SslMode=VerifyCA"
ConnectionStrings__IMoviesCertDB="server={{ groups['dbservers'][ groups['webservers'].index(ansible_hostname) ] }};port=3306;database=imovies_ca;user={{ ansible_hostname }};password={{ lookup('vars', 'mysql_' + ansible_hostname + '_password') }};SslCa=/usr/local/share/ca-certificates/iMovies_Root_CA.crt;SslMode=VerifyCA"
WebServer__CoreCAURL="https://{{ groups['certservers'][ groups['webservers'].index(ansible_hostname) ] }}/"
WebServer__ClientCertPath="/etc/ssl/trusted/private/iMovies_{{ ansible_hostname }}_tls_cert_and_priv_key.pfx"
