Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
ConnectionStrings__IMoviesUserDB="server=https://{{ groups['dbservers'][ groups['webservers'].index(ansible_hostname) ] }}/;port=3306;database=imovies;user={{ ansible_hostname }};password={{ lookup('vars', 'mysql_' + ansible_hostname + '_password') }}"
ConnectionStrings__IMoviesCertDB="server=https://{{ groups['certservers'][ groups['webservers'].index(ansible_hostname) ] }}/;port=3306;database=imovies_ca;user={{ ansible_hostname }};password={{ lookup('vars', 'mysql_' + ansible_hostname + '_password') }}"
