[Unit]
Description=Applied Security Lab CertServer

[Service]
WorkingDirectory=/home/coreca/app
ExecStart=/usr/bin/dotnet /home/coreca/app/CertServer.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
User=coreca
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
