[Unit]
Description=Applied Security Lab CertServer

[Service]
WorkingDirectory=/home/{{ UNAME }}/app
ExecStart=/usr/bin/dotnet /home/{{ UNAME }}/app/CertServer.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
User={{ UNAME }}
EnvironmentFile=/etc/systemd/system/asl-certserver.env
